body {
    background-color: rgb(227, 227, 227);
    margin: 0;
}

#svgDiv {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

img {
    position: absolute;
    top: 5px;
    left: 5px;
}

header {
    background-color: #ffb2b2;
    color: rgb(255, 255, 255);
    padding: 2rem 0;
    box-shadow: 0 4px 10px #000000;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

.textbox {
    position: absolute;
    width: 200px;
    padding: 3px 7px;
    border-radius: 8px;
    border: 3px solid #ccc;
}

.textbox:focus {
    outline: 0;
    border: 2px solid #2196f3;
}

.TextBoxh1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

.TextBoxh1 h2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.TextBoxh1 .textbox {
    display: block;
    width: 300px;
    max-width: 90%;
    padding: 10px 15px;
    text-align: center;
    box-sizing: border-box;
}